<nav
  class="nav nav-pills d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary border-end"
  style="width: 280px"
>
  <span class="text-secondary fw-bold mb-2">Purchase</span>
  <a class="nav-link" href="/requests.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#cart" />
    </svg>
    Requests
  </a>
  <a class="nav-link" href="/products.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#grid" />
    </svg>
    Products
  </a>
  <a class="nav-link" href="/vendors.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#building" />
    </svg>
    Vendors
  </a>
  <a class="nav-link" href="/users.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#people" />
    </svg>
    Users
  </a>
</nav>
